.loading {
    display: flex;
    justify-content: center;
}

.loading-letter {
    color: black;
}

@keyframes loading-anim {
    0% {
        transform: translateX(0)
    }
    19% {
        transform: translateX(-1500px)
    }
    20% {
        transform: translateX(1500px);
    }
    30% {
        transform: translateX(0);
    }
}